@media all and (min-width:800px){

body {
	text-align: center;
	background: ##CCFFFF;
}
#D1 
	{
    border-radius: 15px;
    background: ##CCFFFF;
    padding: 5px;
	padding-bottom: 15px;
	
}
#D2 {
	border-radius:10px;
	background: #73AD55;
	padding:5px;
	padding-top: 20px;
	padding-bottom: 15px;
}
#D3 {
	border-radius:10px;
	background: #73AD80;
	padding:5px;
	padding-top: 20px;
	padding-bottom: 15px;
	
}
}
@media only screen and (max-device-width:721px){
	body {
	background:#555555;
	}
}
